*{
  font-family:'Lato',sans-serif;
}

#containerG {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
}
#containerG .h1,
.p {
  color: #24aeb1;
}

#box {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

a {
  color: black;
  text-decoration: none;
}
div > li {
  justify-content: center;
}
.input {
  border: 0px;
  margin: 5px;
  margin-top: 10px;
}

div > .img {
  width: 100%;
}
.und {
  margin-top: 150px;
}
#link {
  display: flex;
  justify-content: space-evenly;
}
.box4 {
  width: 20%;
}
.box4 > .img {
  width: 40%;
}
.img {
  margin-top: 20px;
  width: 100px;
  /* border: 1px solid red; */
}
.H6 {
  color: black;
  font-family: sans-serif;
}
h3{
  line-height: 32px;
  font-size: 14px;
  font-family: Lato;
  color: #0b1219;
}
